<h4 class="text-center">Listado</h4>
<ul class="list-group ">
  <li *ngFor="let character of characterList; let i = index; let isEven = even; let isLast = last"
    class="list-group-item d-flex justify-content-between" [ngClass]="{'list-group-item-warning':isLast,'list-group-item-info': isEven}">
    <div> {{i+1}}. {{character.name}} - <strong>power: </strong> {{character.power}} </div>

    <button class="btn btn-outline-danger rounded-circle" (click)="deleteCharacterById(character.id || '')">X</button>
  </li>
</ul>


